.list-page {
  display: flex;
  height: 100%;

  .list {
    flex: 3;

    .wrapper {
      height: 100%;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }

  .map {
    flex: 2;
    background-color: red;
  }
}
