.popup-container {
  display: flex;
  gap: 20px;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    width: 60px;
    // height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
}
