.searchbar {
  .type {
    button {
      background-color: white;
      padding: 16px 36px;
      border: 1px solid gray;
      cursor: pointer;

      &.active {
        background-color: black;
        color: white;
      }
    }
  }
  form {
    height: 64px;
    display: flex;
    // justify-content: space-around;
    gap: 50px;
    border: 1px solid gray;
    padding: 20px;

    input {
      border: none;
      width: 100px;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 25px;
    }
  }
}
