@import "../../responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  .left-nav {
    flex: 3;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .right-nav {
    flex: 2;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    background-color: antiquewhite;
    height: 100%;

    .menu-icon {
      display: none;
      cursor: pointer;
      z-index: 8888;
      color: red;

      @include mobile {
        display: block;
      }
    }
  }
  .menu {
    position: absolute;
    background-color: black;
    color: white;
    height: 100vh;
    width: 50%;
    top: 0;
    right: -50%;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 20px;

    &.active {
      right: 0;
    }

    @include mobile {
      a {
        display: initial;
      }
    }
  }

  a {
    @include mobile {
      display: none;
    }
  }
}
